/* páginas de contato/cadastro */
#receberArquivo {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: rgba(var(--preto),0.75);
    font-size: 1.5em;
    height: 20vh;

    border: 1px dashed rgb(var(--preto));
    border-radius: 8px;
    margin-bottom: 0.25em;
}

#apagarCV {
    margin: 0;
}

.cadastro {
    grid-template-columns: 1fr;
    justify-content: center;
}

.contato {
    align-items: start;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
}
    @media (max-width: 1080px) {
        .contato {
            grid-template-columns: 1fr;
        }
    }
    .contato textarea {
        border: none;
        border-radius: 8px;
        margin: 1em 0;
        padding: 1em;
        font: var(--fontePrimaria);

        min-height: 25vh;
        width: 100%;
    }

#regrasSenha span,
#erroConfirmaSenha.ativo {
    display: block;
}
    #regrasSenha.inativo,
    #regrasSenha span.valido,
    #erroConfirmaSenha {
        display: none;
    }

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}
    .linha * {
        box-sizing: border-box;
    }
    .linha input {
        flex: 1;
    }
    @media (max-width: 1080px) {
        .linha * {
            margin: 0 10px;
        }
        .linha *:not([name="cidade"], [name="estado"]) {
            flex: none;
        }
    }