/* cores para cada área de vagas */

.areaVaga[data-area="ti"] {
    filter: hue-rotate(calc(360deg*0/6));
}

.areaVaga[data-area="adm"] {
    filter: hue-rotate(calc(360deg*1/6));
}

.areaVaga[data-area="mkt"] {
    filter: hue-rotate(calc(360deg*2/6));
}

.areaVaga[data-area="com"] {
    filter: hue-rotate(calc(360deg*3/6));
}

.areaVaga[data-area="log"] {
    filter: hue-rotate(calc(360deg*4/6));
}

.areaVaga[data-area="eng"] {
    filter: hue-rotate(calc(360deg*5/6));
}

/* filtro de vagas / botão de ajuda */
#botaoMenu {
    position: relative;
    width: auto;

    padding: 0.1em 0.4em;
}

button {
    background-color: rgba(var(--realce),0.2);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    padding: 0.75em;
    min-width: 4ch;
    border: none;

    text-align: center;
}

.filtro {
    display: block;
    align-items: stretch; /* para os filtros terem a mesma altura mesmo em mobile */
    justify-self: center;
    text-align: center;
    width: 75%;
}
    .filtro button {
        border-radius: 16px;
        border: 1px solid rgb(var(--preto));
        margin: 0.1em;
        min-width: 16ch;

        background-color: rgb(var(--branco));
        color: rgb(var(--preto));
    }
    @media (max-width: 1080px) {
        .filtro button {
            min-width: 0;
        }
    }
    .filtro button.selecionado {
        background-color: rgba(var(--preto),1);
        color: rgba(var(--branco),1);
    }
    /* cor de selecionado quando passa o mouse em cima */
    .filtro button:hover {
        background-color: rgba(var(--preto),1);
        color: rgb(var(--branco));
    }

/* seção de vagas */
.filtro:has(#buscarVaga) {
    width: 100%;
    align-self: flex-end;
    justify-content: center;
}

#buscarVaga {
    border: none;
    border-bottom: 1px solid rgb(var(--preto));
    border-radius: 0;

    margin: 0.5em;
    font-size: 1.5em;

    align-self: center;
    text-align: center;

    background-color: rgba(var(--branco),0.75);
    background-image: url(../icones/pesquisa.svg);
    background-position: center;
    background-repeat: no-repeat;

    background-size: 30px 30px;
    padding:10px;
    width: 85%;
}
    #buscarVaga:focus {
        border-radius:6px;
    }
    #buscarVaga:not(:placeholder-shown) {
        background-image: none;
    }

#posts {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-self: center;
    margin: 1em;
    width: 100%;
}
#posts hr {
    margin-top: 1em ;
    opacity: 0.2;
}

.vaga {
    cursor: pointer;
    user-select: none;

    background-color: rgba(255,255,255,0.5);
    padding: 2em;

    border: none;
    border-radius: 16px;
    box-shadow: 5px 5px 20px rgba(var(--preto),0.1);
    box-sizing: border-box;

    align-content: center;
    justify-self: center;
}
    .vagasNaHomePage #vaga_4 {
        display: none !important;
    }
    @media (max-width: 1080px) {
        .vagasNaHomePage #vaga_4 {
            display: block !important;
        }
    }

.tituloVaga .areaVaga {
    margin: 0;
    padding: 4px;
    text-align: center;
    order: -1;

    font-size: 1.5em;
    font-weight: 800;
    min-width: 4ch;

    background-color: rgb(var(--primaria));
    color: rgb(var(--branco));
}
    .filtro .areaVaga {
        text-transform: none;
    }

.tituloVaga {
    display: flex;
    align-items: flex-start;
    text-transform: capitalize;
}
    .tituloVaga h1 {
        font-weight: 500;
        margin: 0 8px;
    }
    .naVaga {
        text-align: center;
        user-select: none;
        overflow: hidden;

        border-radius: 8px;
        padding: 0.75em;
        min-width: 4ch;
        border: none;

        background-color: rgb(var(--preto));
        color: rgb(var(--branco));
    }

    .textoVaga {
        align-self: flex-start;
        text-align: justify;
        margin: 1.25em 0;
    }
        .reqs {
            display: block;
            margin-bottom: 1em;
        }
        .requisitos {
            display: inline-block;
            margin: 4px;
            padding: 6px;

            background-color: var(--complementar);
            font-size: 0.7em;
            text-transform: uppercase;
        }

.infoVaga {
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;

    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    width: 800px;
    max-width: 90%;
    min-height: 20vh;

    background: rgb(var(--branco));
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(var(--preto), 0.3);
    padding: 2em;
}
    .infoVaga.ativo {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, -50%) scale(1);
    }
    .infoVaga h1 {
        margin: 0;
    }
    .infoVaga section, .infoVaga .reqs, .infoVaga .textoVaga {
        margin: 8px;
    }
    .infoVaga .tituloVaga {
        margin: 1em 0;
    }
    .infoVaga button {
        position: fixed;
        right: 1em;
        top: 1em;

        background-color: rgb(var(--realce));
        color: white;
    }