<header class="metade">
    <img src="../static/images/cadastroHeader.jpg">
    <h1>crie sua conta</h1>

<section>
    <h2>Cadastro</h2>
    <form class="form">

        <input type="text" name="nome" placeholder="Digite seu nome aqui" />
        <div class="linha">
            <input type="text" name="cpf" placeholder="Digite seu CPF"  />
            <input type="text" name="nascimento" placeholder="Digite sua data de nascimento"  />
            <input type="text" name="telefone"  placeholder="Digite seu telefone" />
        </div>
        <input type="email" name="email"  placeholder="Digite seu e-mail" />
        <input type="text" name="endereco" placeholder="Digite sua cidade"  />
        <input type="url" name="linkedin" placeholder="Cole o seu LinkedIn"  />
        <input type="url" name="portfoliio" placeholder="Cole o link do seu portfolio"  />

        <span id="receberArquivo">
            <span class="texto">enviar curriculo</span>
            <input type="file" id="arquivoRecebido" />
            <span class="nomeAparece"></span>
        </span>

        <button type="button" id="apagarCV">Limpar</button>

        <label><input type="checkbox">
        Aceitar termos & condições</label>

        <button type="submit">Enviar</button>

    </form>
        <hr />
        <p style="text-align: center;">Ou faça Login com:</p>
        <span class="api">
            <a href><img src="static/icon/github.png" /></a>
            <a href><img src="static/icon/google.svg" /></a>
            <a href><img src="static/icon/linkedin.png" /></a>
        </span>
</section>



</header>
<div class="fundo"></div>