<html>

<head>
    <link rel="stylesheet" href="/static/rsc/style.css">
    <script type="module" src="/static/rsc/scripts.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/icon/icon.svg">

    <title>job sniffer</title>
</head>

<body>

    <ul class="navbar">
        <li>
            <a href="/home"  id="titulo" class="links">
                <img src="/static/icon/dog.svg" id="logo"> job sniffer
            </a>
        </li>

    <li class="links">
        <a href="/sobre" class="links">Sobre</a> -
        <a href="/contato" class="links">Contato</a> -
        <a href="/vagas" class="links">Vagas</a>
    </li>

    <li>
<a href="#" id="loginBtn">Login</a>

        <div id="loginMenu">
            <span id="fecharBtn">✖</span>
            <span id="voltarBtn">Voltar</span>

            <section id="telaLogin" class="tela">
                <label>E-mail</label>
                <input type="email" id="loginEmail">
                <span id="erroLoginEmail" class="erro"></span>

                <label>Senha</label>
                <input type="password" id="loginSenha">
                <span id="erroLoginSenha" class="erro"></span>

                <p id="esqueceuSenha">Esqueceu a senha?</p>
                <button id="btnEntrar" class="btn">Entrar</button>

                <hr />
                <p style="text-align: center; font-size: 0.7em;">Ou faça Login com:</p>
                <span class="api">
                    <a href><img src="static/icon/github.png" /></a>
                    <a href><img src="static/icon/google.svg" /></a>
                    <a href><img src="static/icon/linkedin.png" /></a>
                </span>
            </section>

            <section id="telaSenha" class="tela" style="display:none;">
                <label>E-mail</label>
                <input type="email" id="recEmail">
                <span id="erroRecuperacao" class="erro"></span>
                <button id="btnRecuperar" class="btn">Recuperar</button>
            </section>
        </div>

        <section id="overlay"></section>
        <a href="/cadastro" id="cadastro" class="links">Cadastrar</a>
        </li>
    </ul>

    <div id="pagina"></div>

    <div id="cantoDaTela">
        <section id="irAoTopo">
        ^
        </section>
        <section id="chatbot"></section>
    </div>

<div class="footer">
    <section>
        <h3>Siga-nos</h3>
        <hr />
        <a href="https://www.eniac.edu.br/"><img src="/static/icon/logo_eniac.webp" title="Faculdade Eniac" /></a>
        <a href="https://github.com/matosaguiar"><img src="/static/icon/logo_gustavo.png" title="Gustavo Matos" /></a>
        <a href="https://github.com/JoaoVitor5"><img src="/static/icon/logo_joao.png" title="João Vítor Araújo" /></a>
        <a href="https://github.com/rocharlia"><img src="/static/icon/logo_julia.png" title="Júlia Nascimento" /></a>
        <a href="https://github.com/nicovalentim"><img src="/static/icon/logo_nico.png" title="Nicolas Valentim" /></a>
        <a href="https://github.com/Rodsmont"><img src="/static/icon/logo_rodrigo.png" title="Rodrigo Monteiro" /></a>
        <p>Ícones feitos por <a href="https://www.flaticon.com/authors/vitaly-gorbachev">Vitaly Gorbachev</a>.</p>
    </section>

    <section>
        <h3>Endereço</h3>
        <hr />
        Rua Marielle Franco, 79<br />
        Rio de Janeiro - RJ<br />
        CEP: 0716-626<br /><br />

        CONTATO<br />
        55 (11) 1403-2018<br />
        sac@jobsniffer.edu.br
    </section>

</div>

    </body>
</html>