*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

.header{
    background:#ff5900;
    padding:15px 20px;
    position:relative;
}

#loginBtn{
    color:white;
    font-size:18px;
    cursor:pointer;
    font-weight:bold;
}

#loginBtn.ativo{
    background:#b44a11;
    padding:8px 12px;
    border-radius:6px;
}

.dropdown{
    position:absolute;
    top:60px;
    left:20px;
    width:260px;
    background:rgba(255, 89, 0, 0.25);
    backdrop-filter:blur(6px);
    padding:20px;
    border-radius:12px;
    display:none;
}

#voltarBtn{
    display:none;
    color:#ff5900;
    font-size:20px;
    cursor:pointer;
    margin-bottom:10px;
    font-weight:bold;
}

#usuario_telefoneaLogin, #usuario_telefoneaSenha, #usuario_telefoneaCadastro{
    display:flex;
    flex-direction:column;
    align-items:center;
}

label{
    align-self:flex-start;
    font-size:13px;
    margin-top:10px;
}

/* caixa de texto */
input{
    width:100%;
    padding:10px;
    margin:5px 0 10px;
    border-radius:8px;
    border:none;
}

/* alinhamento de troca de senha e cadastro */
#esqueceu, #cadastrar{
    width:100%;
    text-align:center;
    color:#ff5900;
    font-size:13px;
    cursor:pointer;
    margin:5px 0;
}

.btn{
    margin-top:10px;
    background:#ff5900;
    border:none;
    color:white;
    font-weight:bold;
    cursor:pointer;
    padding:10px;
    border-radius:8px;
    width:40%;
}

.btn:hover{
    background:#b44a11;
}

/* erro */
.erro{
    border:2px solid red;
    animation:tremer 0.2s;
}
   
#regrasSenhaCadastro,
#AlterarSenha {
  font-size: 11px;
  color: #e26c1d;
  margin-top: 5px;
  line-height: 1.4;
}

/* cor verde nas regras de senha */
.valido{
    color: #2ecc36; /* verde */
    font-weight: bold;
}

/* aviso de email duplicado */
#erroEmail{
    font-size:12px;
    color:red;
    margin-top:3px;
    display:none; /* já controlado pelo JS */
}

@keyframes tremer{
    0%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
    75%{transform:translateX(-5px);}
    100%{transform:translateX(0);}
}

/* celular */
@media(max-width:600px){
    .dropdown{
        width:90%;
        left:5%;
    }
}