.titulo{
    color: #ff5900;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(218, 26, 26, 0.3);
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    background: #ff5900;
    padding: 0 40px;
}

.menu li{
    display: inline-block;
    position: relative;
}

.menu li a{
    display: block;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    background: #b44a11;
}

.dropdown{
    background: rgba(255, 89, 0, 0.3);
    backdrop-filter: blur(6px);
    position: absolute;
    right: 0;
    width: 220px;
    display: none;
}

.dropdown li{
    display: block;
}

.menu li:hover .dropdown{
    display: block;
}

.direita{
    float: right;
}


#buscarVaga{
    width:300px;
    padding:10px;
    margin:20px;
    border-radius:6px;
    border:1px solid #ccc;
}


.vaga{
    border:1px solid #ccc;
    padding:15px;
    margin:15px 20px;
    border-radius:8px;
    background:#f9f9f9;
}


.candidatar{
    color: blue;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.candidatar.clicado{
    color: green;
}