<header>
    <img src="../static/images/cadastroHeader.jpg">
    <h1>crie sua conta</h1>
</header>

<div class="fundo card cadastro">

    <section>
        <h1>Cadastro</h1>
        <div action="/cadastro" method="POST" class="form">

            <input type="text" name="nome" placeholder="Digite seu nome aqui" />
            <div class="linha">
                <input type="text" name="nasc" placeholder="Digite sua data de nascimento"  />
                <input type="text" name="tel"  placeholder="Digite seu telefone" />
            </div>
            <div class="linha">
                <input type="text" name="cidade" placeholder="Digite sua cidade"  /> <!-- lista com autocompletar -->
                <input type="text" name="estado" placeholder="Digite sua estado"  /> <!-- fazer pegar automaticamente -->
            </div>
            <input type="url" name="linkedin" placeholder="Cole o seu LinkedIn"  />
            <input type="url" name="folio" placeholder="Cole o link do seu portfolio"  />

            <div id="receberArquivo">
                <div class="texto">enviar curriculo</div>
                <input type="file" id="arquivoRecebido" />
                <div class="nomeAparece"></div>
            </div>

            <button id="apagarCV">Limpar</button>

<!--            <label><input type="checkbox">
            Aceitar termos & condições</label> -->

            <hr />
            <button class="enviar" id="cadastro">Enviar</button>

            <div id="cadastroMenu">
                <input type="email" name="email"  placeholder="Digite seu e-mail" />
                <input type="password" name="senha"  placeholder="Digite sua senha" />
                <input type="password" name="senha_confirm"  placeholder="Confirme sua senha" />            
                <button type="submit" class="enviar">Criar conta!</button>
            </div>

            <p style="text-align: center;">Ou faça Login com:</p>
            <div class="api">
                <a href><img src="static/icon/github.png" /></a>
                <a href><img src="static/icon/google.png" /></a>
                <a href><img src="static/icon/linkedin.png" /></a>
            </div>

        </form>
    </section>

</div>