<header>
    <img src="../static/images/indexHeader.jpg">
    <h1></h1>
</header>
<div class="fundo">
    <h1>Encontre as melhores oportunidades com a agilidade que sua carreira merece.</h1>

<div class="home">

    <section>
        <img src="../static/images/home_icon (1).jpg" />

        <p>+50 talentos contratados</p>

    </section><hr /><section>
        <img src="../static/images/home_icon (2).jpg" />

        <p>5 novas vagas toda semana.</p>

    </section><hr /><section>
        <img src="../static/images/home_icon (3).jpg" />

        <p>100% gratuito para candidatos.</p>
    </section>
</div>

<div class="home valores">
    <section>
        <h3>Transparência Total</h3>

        <p>Acompanhe o status da sua candidatura em tempo real, sem ser ignorado.</p>

    </section><hr /><section>
        <h3>Curadoria Humana</h3>

        <p>Nossas vagas são verificadas por especialistas para garantir oportunidades reais e sérias.</p>

    </section><hr /><section>
        <h3>Foco em você</h3>

        <p>Nossa plataforma foi desenhada para que sua experiência de busca seja simples, rápida e eficiente.</p>
    </section>
</div>

<h2>Vagas recentes</h2>
<div id="posts" class="vagasDestaque"></div>

<p>Pronto para fazer parte do nosso time?</p>
<p> Cadastre-se agora ou faça login no topo da página!</p>

</div>