.titulo{
    color: #483D8B;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

ul {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu li a {
    display: block;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu li a:hover {
    background: #6959CD;
}

.dropdown {
    background: rgba(72, 61, 139, 0.3);
    backdrop-filter: blur(6px);         
    position: absolute;
    right: 0;      
    width: 220px;
    display: none;
    max-height: 250px;  
    overflow-y: auto;
}

.dropdown::-webkit-scrollbar {
    display: none;
}

.dropdown {
    scrollbar-width: none;
}

.dropdown li {
    display: block;
}

.menu li:hover .dropdown {
    display: block;
}

.direita {
    float: right;
}